@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(Quicksand-Regular.woff) format('woff'), url(Quicksand-Regular.ttf) format('ttf'), url(Quicksand-Regular.svg) format('svg'), url(Quicksand-Regular.otf) format('otf');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url(Quicksand-Bold.woff) format('woff'), url(Quicksand-Bold.ttf) format('ttf'), url(Quicksand-Bold.svg) format('svg'), url(Quicksand-Bold.otf) format('otf');
}

body {
  font-family: 'Quicksand', 'Gillius', "Gill Sans", sans;
  font-weight: normal;
}

body div.sensory {
  font-size: 90px;
  color: #333;
  margin-top: 90px;
}
body div.tagline {
  margin-bottom: 90px;
  }

.color-grey {
  color: #3e3e40;
}
.color-pink {
  color: #022058;
}

img.logo {
  width: 524px;
  max-width: 100%;
}
img.logo.logged-in {
  width: 300px;
  max-width: 50%;
}

img.picture {
  max-width: 100px;
  max-height: 100px;
}
img.thumbnail {
  max-width: 100px;
  max-height: 100px;
}

.status.saved:before {
  content:'✔';
  color: green;
}
.status.saving:before {
  content:'✅';
  color: green;
}
.status.failed:before {
  content:'✘';
  color: red;
}

.form-signin {
  padding: 15px;
  margin: 0 auto;
}

.link-signin {
  padding: 15px;
  margin: 0 auto;
}

.form-register {
  padding: 15px;
  margin: 0 auto;
}

.link-register {
  padding: 15px;
  margin: 0 auto;
}

.form-profile {
  max-width: 540px;
  padding: 15px;
}
.form-submission {
  max-width: 540px;
  padding: 15px;
}
.form-question {
  max-width: 540px;
  padding: 15px;
  margin: 15px;
}
.welcome {
  padding: 1em;
  font-size: 18px;
}
.content-preview {
  max-width: 200px;
  padding: 6px;
}

.category-header {
  clear: both;
  font-size: 18px;
  border-bottom: solid thin black;
}

.content-preview {
  display: inline-block;
}
.content-items {
  display: inline-block;
  min-width: 20%;
  max-width: 21%;
}

.submit-answer {
  float: right;
}
