body {
  font-family: 'Quicksand', 'Gillius', "Gill Sans", sans;
  font-weight: normal;
}

body div.sensory {
  font-size: 90px;
  color: #333;
  margin-top: 90px;
}
body div.tagline {
  margin-bottom: 90px;
  }
img.logo {
  width: 524px;
    max-width: 100%;
}

img.picture {
  max-width: 100px;
  max-height: 100px;
}
img.thumbnail {
  max-width: 100px;
  max-height: 100px;
}

.status.saved:before {
  content:'✔';
  color: green;
}
.status.saving:before {
  content:'✅';
  color: green;
}
.status.failed:before {
  content:'✘';
  color: red;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-profile {
  max-width: 540px;
  padding: 15px;
}
.form-submission {
  max-width: 540px;
  padding: 15px;
}
.content-preview {
  max-width: 200px;
  padding: 6px;
}

.category-header {
  clear: both;
  font-size: 18px;
  border-bottom: solid thin black;
}

.content-preview {
  display: inline-block;
}
